// src/styles/main.scss
$primary-color: #03a446;
$secondary-color: #fe6d4c;
$third-color: #effff4;
$black: #000000;
$gray: #3f4953;
$green-bg: #effef4;
$green-light: #f6fbf7;
$table-bg: #f6f6f6;
$font-gray: #b2b6b8;